<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, height=device-height">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Play match</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="http://127.0.0.1:8000/team/ranking">LeaderBoard</a>
          </div>
        </div>
    </nav>
<select id="monselect">
    {% for team in teams %}
        <option value="{{ team.id }}">{{ team.name }}</option>
    {% endfor %}
</select>
<button>Play match</button>
<script>
    $(document).ready(() => {
        $('button').click(() => {
           const teamId = $('select').val();

           window.location.href = 'http://127.0.0.1:8000/match/generate?&teamId=' + teamId;
        });
    });
</script>
</body>
</html>
